.button
{
	width: 45px;
	height: 35px;
}

.button.clickableText { background:none;border:none; }

#table-wrapper {
  position:relative;
}
#table-scroll {
  height:350px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;
    
}
#table-wrapper table * {
}
#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:75%;
  width:35%;
  border:0px;
}